<section class="hero is-link is-small">
<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <h2><a class="navbar-item" href="../">
                    Foodlog
                </a></h2>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <%= link_to "Create New Entry", new_entry_path, class: "button is-success" %>
                  
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
        A place to log your food habits
        </h1>
        <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </h2>
    </div>
</div>
</section>
